.form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

/*mat-form-field {
    margin-top: 1rem;
    display: inline-block;
}
*/

/*:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
*/
